apiVersion: karpenter.sh/v1
kind: NodePool
metadata:
  name: gpu-forge
spec:
  template:
    spec:
      requirements:
        - key: "karpenter.sh/capacity-type"
          operator: In
          values: ["spot", "on-demand"]
        - key: "node.kubernetes.io/instance-type"
          operator: In
          values: ["g5.2xlarge", "g4dn.xlarge", "p4d.24xlarge"]
        - key: "kubernetes.io/arch"
          operator: In
          values: ["amd64"]
      nodeClassRef:
        group: karpenter.k8s.aws
        kind: EC2NodeClass
        name: default
  limits:
    cpu: 1000
---
apiVersion: karpenter.k8s.aws/v1
kind: EC2NodeClass
metadata:
  name: default
spec:
  amiFamily: AL2023
  role: "KarpenterNodeRole-neural-hypernova"
  subnetSelectorTerms:
    - id: "SUBNET_IDS_PLACEHOLDER"
  securityGroupSelectorTerms:
    - id: "SG_ID_PLACEHOLDER"
  amiSelectorTerms:
    - alias: al2023@latest